body {
    font-family: Arial, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-contaier h2 {
    margin: 40px 0;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
}

.main-contaier {
    /* width: 100vw; */
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30vh;
}

.login-container {
    min-width: 350px;
    width: 600px;
    height: 550px;
    backdrop-filter: blur(15px);
    padding: 20px 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-container {
    position: relative;
    margin-bottom: 25px;
}

.icon.active {
    animation: horizontal-shaking .2s infinite;
}

button:hover {
    background-color: #060806d1;
    color: white;
}

.input-container input {
    width: calc(100% - 10px);
    padding: 10px 0px;
    margin-bottom: 10px;
    background: transparent;
    border: none;
    outline: 0;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.757);
}

.icon {
    font-size: 18px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}

button {
    width: 100%;
    padding: 10px;
    background: transparent;
    color: black;
    border: none;
    margin-bottom: 20px;
    border: 2px solid rgba(0, 0, 0, 0.785);
    cursor: pointer;
}

.info {
    margin-bottom: 40px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.forget {
    font-weight: 600;
}

.remember-feild {
    display: flex;
    align-items: center;
    justify-content: center;
}

#remember {
    background: transparent;
    margin-bottom: 3px;
    cursor: pointer;
}

.register-div p {
    text-align: center;
    margin-top: 20px;
}

.register-div p a {
    font-weight: 600;
    color: black;
}

#email {
    text-transform: none !important;
    text-transform: initial;
    /* fallback */


}


/* Submmit Page */

.submit-container {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    align-items: center;
    justify-content: center;
}

.bg-container {
    width: 350px;
    background-color: white;
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.bg-container .icon-error i {
    font-size: 60px;
    color: #f27474;
}

.bg-container .icon-error {
    border: 8px solid #f27474;
    padding: 40px;
    border-radius: 50%;
}

.bg-container .valid-input {
    font-size: 30px;
}

.bg-container .valid-error {
    font-size: 20px;
    font-weight: 100;
}

.ok-btn {
    /* font-size: 18px; */
    width: 50%;
}

/* Beside Form Hyperlink */
.side-link {
    margin-top: 20px;
    text-align: center;
}

.side-link a {
    display: inline-block;
    font-size: 1.7rem;
    padding: 0.5rem 1rem;
    border: 2px solid #ffffff;
    border-radius: 0.5rem;
    color: #ffffff;
    background: transparent;
    box-shadow: var(--box-shadow);
    text-decoration: none;
    transition: 0.3s ease;
}

.side-link a:hover {
    color: #000000;
    background-color: #ffffff;
    border-color: #ffffff;
    margin-left: 1rem;
}